{
  actionbarBackgroundColor: 0x00{{base00-hex}},
  cachedItemTextColor: 0xff{{base0C-hex}},
  dialogBackgroundColor: 0xff{{base00-hex}},
  dialogTitleColor: 0xff{{base07-hex}},
  editBackgroundColor: 0xff{{base00-hex}},
  editBackgroundShadowColor: 0,
  editBorderBottomColor: 0xff{{base02-hex}},
  editBorderTopColor: 0xff{{base02-hex}},
  editHighlightBackgroundColor: 0xb0{{base0D-hex}},
  editTextColor: 0xff{{base07-hex}},
  link2chBackgroundColor: 0,
  link2chTextColor: 0xff{{base0B-hex}},
  linkBackgroundColor: 0,
  linkImageBackgroundColor: 0,
  linkImageTextColor: 0xff{{base09-hex}},
  linkTextColor: 0xff{{base0D-hex}},
  listActivatedBackgroundColor: 0xff{{base02-hex}},
  listBackgroundColor: 0xff{{base00-hex}},
  listCategoryBottomBorderColor: 0,
  listCategoryDarkColor: 0xff{{base02-hex}},
  listCategoryHighlightColor: 0,
  listCategoryLightColor: 0xff{{base02-hex}},
  listCategoryShadowColor: 0,
  listCategoryTextColor: 0xff{{base07-hex}},
  listCategoryTopBorderColor: 0,
  listDividerColor: 0,
  listPopupBackgroundColor: 0xff{{base00-hex}},
  listPopupBorderColor: 0,
  listPopupShadowColor: 0xff{{base02-hex}},
  menuDividerColor: 0,
  progressBarBackgroundColor: 0,
  progressBarPrimaryColor: 0xff{{base0D-hex}},
  ratingColor0: 0xff{{base03-hex}},
  ratingColor1: 0xff{{base0D-hex}},
  ratingColor2: 0xff{{base0C-hex}},
  ratingColor3: 0xff{{base0B-hex}},
  ratingColor4: 0xff{{base09-hex}},
  ratingColor5: 0xff{{base08-hex}},
  resAnchorTextColor: 0xff{{base0D-hex}},
  resBodyTextColor: 0xff{{base07-hex}},
  resCategoryBottomBorderColor: 0,
  resCategoryDarkColor: 0xff{{base02-hex}},
  resCategoryHighlightColor: 0,
  resCategoryLightColor: 0xff{{base02-hex}},
  resCategoryShadowColor: 0,
  resCategoryTextColor: 0xff{{base07-hex}},
  resCategoryTopBorderColor: 0,
  resCheckedBackgroundColor: 0xff{{base00-hex}},
  resDividerColor: 0,
  resHeaderBackgroundColor: 0,
  resHeaderEmphasisTextColor2: 0xff{{base0E-hex}},
  resHeaderEmphasisTextColor3: 0xff{{base08-hex}},
  resHeaderEmphasisTextColor4: 0xff{{base09-hex}},
  resHeaderEmphasisTextColor: 0xff{{base0D-hex}},
  resHeaderTextColor: 0xff{{base03-hex}},
  resMarkedBackgroundColor: 0xff{{base08-hex}},
  resReplyBackgroundColor: 0xff{{base0B-hex}},
  secondaryColor: 0xff{{base00-hex}},
  stateFocusedBottomColor: 0xff{{base0D-hex}},
  stateFocusedTopColor: 0xff{{base0D-hex}},
  statePressedBottomColor: 0xff{{base02-hex}},
  statePressedTopColor: 0xff{{base02-hex}},
  tabbarBottomBorderColor: 0,
  tabbarDarkColor: 0xff{{base00-hex}},
  tabbarHighlightColor: 0,
  tabbarLightColor: 0xff{{base00-hex}},
  tabbarShadowColor: 0,
  tabbarTextColor: 0xff{{base07-hex}},
  tabbarTextShadowColor: 0,
  tabbarTopBorderColor: 0,
  textEmphasisColor: 0xff{{base08-hex}},
  textHitBackgroundColor: 0xb0{{base0D-hex}},
  textPrimaryColor: 0xff{{base07-hex}},
  textSecondaryColor: 0xff{{base03-hex}},
  titlebarBackground: 0,
  titlebarBottomBorderColor: 0,
  titlebarDarkColor: 0xff{{base00-hex}},
  titlebarHighlightColor: 0,
  titlebarLightColor: 0xff{{base00-hex}},
  titlebarShadowColor: 0,
  titlebarTextColor: 0xff{{base07-hex}},
  titlebarTextShadowColor: 0,
  titlebarTopBorderColor: 0,
  toolbarBackground: 0,
  toolbarBackgroundV: 0,
  toolbarBottomBorderColor: 0,
  toolbarDarkColor: 0xff{{base02-hex}},
  toolbarHighlightColor: 0,
  toolbarLightColor: 0xff{{base02-hex}},
  toolbarShadowColor: 0,
  toolbarTabColor: 0xff{{base03-hex}},
  toolbarTextColor: 0xff{{base07-hex}},
  toolbarTextShadowColor: 0,
  toolbarTopBorderColor: 0,
  unreadBackgroundBottomColor: 0xff{{base0E-hex}},
  unreadBackgroundTopColor: 0xff{{base0E-hex}},
  unreadBorderBottomColor: 0,
  unreadBorderTopColor: 0,
  unreadTextColor: 0xff{{base07-hex}},
  unreadTextShadowColor: 0,
  windowBackground: 0x00{{base00-hex}},
  windowBackgroundColor: 0x00{{base00-hex}}
}