Rename-Item -Path ".\theme.txt" -NewName "{{scheme-system}}-{{scheme-slug}}.{{#scheme-is-light-variant}}day{{/scheme-is-light-variant}}{{#scheme-is-dark-variant}}night{{/scheme-is-dark-variant}}.txt"
