{
  actionbarBackgroundColor: 0x00{{ui.global.light.background.hex}},
  cachedItemTextColor: 0xff{{syntax.support.default.hex}},
  dialogBackgroundColor: 0xff{{ui.global.normal.background.hex}},
  dialogTitleColor: 0xff{{ui.global.normal.foreground.hex}},
  editBackgroundColor: 0xff{{ui.global.normal.background.hex}},
  editBackgroundShadowColor: 0,
  editBorderBottomColor: 0xff{{ui.border.normal.hex}},
  editBorderTopColor: 0xff{{ui.border.normal.hex}},
  editHighlightBackgroundColor: 0xff{{ui.highlight.line.background.hex}},
  editTextColor: 0xff{{ui.global.normal.foreground.hex}},
  link2chBackgroundColor: 0,
  link2chTextColor: 0xff{{syntax.string.default.hex}},
  linkBackgroundColor: 0,
  linkImageBackgroundColor: 0,
  linkImageTextColor: 0xff{{syntax.constant.default.hex}},
  linkTextColor: 0xff{{syntax.support.default.hex}},
  listActivatedBackgroundColor: 0xff{{ui.highlight.line.background.hex}},
  listBackgroundColor: 0xff{{ui.global.normal.background.hex}},
  listCategoryBottomBorderColor: 0,
  listCategoryDarkColor: 0xff{{ui.global.light.background.hex}},
  listCategoryHighlightColor: 0,
  listCategoryLightColor: 0xff{{ui.global.light.background.hex}},
  listCategoryShadowColor: 0,
  listCategoryTextColor: 0xff{{ui.global.light.foreground.hex}},
  listCategoryTopBorderColor: 0,
  listDividerColor: 0xff{{ui.border.normal.hex}},
  listPopupBackgroundColor: 0xff{{ui.global.normal.background.hex}},
  listPopupBorderColor: 0,
  listPopupShadowColor: 0xff{{ui.global.dark.foreground.hex}},
  menuDividerColor: 0xff{{ui.border.normal.hex}},
  progressBarBackgroundColor: 0,
  progressBarPrimaryColor: 0xff{{palette.blue.normal.hex}},
  ratingColor0: 0xff{{palette.gray.normal.hex}},
  ratingColor1: 0xff{{palette.cyan.normal.hex}},
  ratingColor2: 0xff{{palette.green.normal.hex}},
  ratingColor3: 0xff{{palette.yellow.normal.hex}},
  ratingColor4: 0xff{{palette.orange.normal.hex}},
  ratingColor5: 0xff{{palette.red.normal.hex}},
  resAnchorTextColor: 0xff{{syntax.support.default.hex}},
  resBodyTextColor: 0xff{{ui.global.normal.foreground.hex}},
  resCategoryBottomBorderColor: 0,
  resCategoryDarkColor: 0xff{{ui.global.light.background.hex}},
  resCategoryHighlightColor: 0,
  resCategoryLightColor: 0xff{{ui.global.light.background.hex}},
  resCategoryShadowColor: 0,
  resCategoryTextColor: 0xff{{ui.global.light.foreground.hex}},
  resCategoryTopBorderColor: 0,
  resCheckedBackgroundColor: 0xff{{ui.global.normal.background.hex}},
  resDividerColor: 0xff{{ui.border.normal.hex}},
  resHeaderBackgroundColor: 0,
  resHeaderEmphasisTextColor2: 0xff{{palette.magenta.normal.hex}},
  resHeaderEmphasisTextColor3: 0xff{{palette.red.normal.hex}},
  resHeaderEmphasisTextColor4: 0xff{{palette.orange.normal.hex}},
  resHeaderEmphasisTextColor: 0xff{{palette.blue.normal.hex}},
  resHeaderTextColor: 0xff{{syntax.comment.default.hex}},
  resMarkedBackgroundColor: 0xff{{palette.red.normal.hex}},
  resMark2BackgroundColor: 0xff{{palette.blue.normal.hex}},
  resReplyBackgroundColor: 0xff{{palette.green.normal.hex}},
  secondaryColor: 0xff{{ui.global.normal.background.hex}},
  stateFocusedBottomColor: 0xff{{ui.highlight.text.active.background.hex}},
  stateFocusedTopColor: 0xff{{ui.highlight.text.active.background.hex}},
  statePressedBottomColor: 0xff{{ui.highlight.button.background.hex}},
  statePressedTopColor: 0xff{{ui.highlight.button.background.hex}},
  tabbarBottomBorderColor: 0,
  tabbarDarkColor: 0xff{{ui.global.light.background.hex}},
  tabbarHighlightColor: 0,
  tabbarLightColor: 0xff{{ui.global.light.background.hex}},
  tabbarShadowColor: 0,
  tabbarTextColor: 0xff{{ui.global.light.foreground.hex}},
  tabbarTextShadowColor: 0,
  tabbarTopBorderColor: 0,
  textEmphasisColor: 0xff{{syntax.markup.bold.hex}},
  textHitBackgroundColor: 0xff{{ui.highlight.line.background.hex}},
  textPrimaryColor: 0xff{{ui.global.normal.foreground.hex}},
  textSecondaryColor: 0xff{{syntax.comment.default.hex}},
  titlebarBottomBorderColor: 0,
  titlebarDarkColor: 0xff{{ui.global.light.background.hex}},
  titlebarHighlightColor: 0,
  titlebarLightColor: 0xff{{ui.global.light.background.hex}},
  titlebarShadowColor: 0,
  titlebarTextColor: 0xff{{ui.global.light.foreground.hex}},
  titlebarTextShadowColor: 0,
  titlebarTopBorderColor: 0,
  toolbarBottomBorderColor: 0,
  toolbarDarkColor: 0xff{{ui.global.light.background.hex}},
  toolbarHighlightColor: 0,
  toolbarLightColor: 0xff{{ui.global.light.background.hex}},
  toolbarShadowColor: 0,
  toolbarTabColor: 0xff{{ui.highlight.text.active.background.hex}},
  toolbarTextColor: 0xff{{ui.global.light.foreground.hex}},
  toolbarTextShadowColor: 0,
  toolbarTopBorderColor: 0,
  unreadBackgroundBottomColor: 0xff{{syntax.keyword.default.hex}},
  unreadBackgroundTopColor: 0xff{{syntax.keyword.default.hex}},
  unreadBorderBottomColor: 0,
  unreadBorderTopColor: 0,
  unreadTextColor: 0xff{{ui.cursor.normal.foreground.hex}},
  unreadTextShadowColor: 0,
  windowBackgroundColor: 0x00{{ui.global.normal.background.hex}}
}