# tinted-shell (base24) {{scheme-name}} for PowerShell
# scheme made by {{scheme-author}}

Write-Host -NoNewline "`e]4;0;#{{base00-hex}}`a" # base00
Write-Host -NoNewline "`e]4;1;#{{base08-hex}}`a" # base08
Write-Host -NoNewline "`e]4;2;#{{base0B-hex}}`a" # base0B
Write-Host -NoNewline "`e]4;3;#{{base0A-hex}}`a" # base0A
Write-Host -NoNewline "`e]4;4;#{{base0D-hex}}`a" # base0D
Write-Host -NoNewline "`e]4;5;#{{base0E-hex}}`a" # base0E
Write-Host -NoNewline "`e]4;6;#{{base0C-hex}}`a" # base0C
Write-Host -NoNewline "`e]4;7;#{{base05-hex}}`a" # base05

Write-Host -NoNewline "`e]4;8;#{{base03-hex}}`a" # base03
Write-Host -NoNewline "`e]4;9;#{{base12-hex}}`a" # base12
Write-Host -NoNewline "`e]4;10;#{{base14-hex}}`a" # base14
Write-Host -NoNewline "`e]4;11;#{{base13-hex}}`a" # base13
Write-Host -NoNewline "`e]4;12;#{{base16-hex}}`a" # base16
Write-Host -NoNewline "`e]4;13;#{{base17-hex}}`a" # base17
Write-Host -NoNewline "`e]4;14;#{{base15-hex}}`a" # base15
Write-Host -NoNewline "`e]4;15;#{{base07-hex}}`a" # base07

Write-Host -NoNewline "`e]4;16;#{{base09-hex}}`a" # base09
Write-Host -NoNewline "`e]4;17;#{{base0F-hex}}`a" # base0F
Write-Host -NoNewline "`e]4;18;#{{base01-hex}}`a" # base01
Write-Host -NoNewline "`e]4;19;#{{base02-hex}}`a" # base02
Write-Host -NoNewline "`e]4;20;#{{base04-hex}}`a" # base04
Write-Host -NoNewline "`e]4;21;#{{base06-hex}}`a" # base06
Write-Host -NoNewline "`e]4;22;#{{base10-hex}}`a" # base10
Write-Host -NoNewline "`e]4;23;#{{base11-hex}}`a" # base11
